# SPDX-FileCopyrightInfo: Copyright © DUNE Project contributors, see file LICENSE.md in module root
# SPDX-License-Identifier: LicenseRef-GPL-2.0-only-with-DUNE-exception

Module: dune-py
Version: 2.8-git
Author: The Dune Core developers
Maintainer: dune-devel@lists.dune-project.org
Description: JIT Workspace for Python bindings
Depends: {{ modules|join(" ") }}
