# Stuff to ignore recursively
*.la
*.lo
*.o
*~
.deps/
.libs/
Makefile
Makefile.in
semantic.cache

# Stuff to ignore in this directory only
/aclocal.m4
/autom4te.cache/
/build-cmake/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.sub
/configure
/configure
/configure.lineno
/depcomp
/dependencies.m4
/dune-common-*.tar.gz
/dune-common-?.?
/dune-common.pc
/dune.css
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
/test-driver
