---
include:
  - "https://gitlab.dune-project.org/core/ci-config/raw/config/common/releases/2.6.yml"
  - "https://gitlab.dune-project.org/core/ci-config/raw/master/jobs/common/releases/2.6.yml"

before_script:
  - . /duneci/bin/duneci-init-job
