# The test binaries (in alphabetical order)
/arraylisttest
/arraytest
/bigunsignedinttest
/bitsetvectortest
/blockbitfieldtest
/calloncetest
/check_fvector_size
/conversiontest
/diagonalmatrixtest
/dynmatrixtest
/dynvectortest
/eigenvaluestest
/enumsettest
/fassigntest
/fmatrixtest
/fvectortest
/gcdlcmtest
/integersequence
/iteratorfacadetest
/iteratorfacadetest2
/lrutest
/mpicollectivecommunication
/mpiguardtest
/mpihelpertest
/mpihelpertest2
/nullptr-test
/parametertreelocaletest
/parametertreetest
/pathtest
/poolallocatortest
/shared_ptrtest
/shared_ptrtest_config
/shared_ptrtest_dune
/singletontest
/sllisttest
/static_assert_test
/streamtest
/stringutilitytest
/testdebugallocator
/testdebugallocator_fail1
/testdebugallocator_fail2
/testdebugallocator_fail3
/testdebugallocator_fail4
/testdebugallocator_fail5
/testfassign1
/testfassign2
/testfassign3
/testfassign4
/testfassign_fail1
/testfassign_fail2
/testfassign_fail3
/testfassign_fail4
/testfassign_fail5
/testfassign_fail6
/testfconstruct
/testfloatcmp
/timing_flt
/timing_old
/timing_xpr
/tuplestest
/tuplestest_dune
/tuplestest_std
/tuplestest_tr1
/tupleutilitytest
/typetraitstest
/typetraitstest_deprecated
/utilitytest
